<h1>My Gratitude List</h1>

<div class='controls'>

  {{!-- <form action="index" method="GET">
    <input type="submit" value="Show All" class="button"/>
  </form> --}}

  <form action="/gratitude/new" method="GET">
    <input type="submit" value="New Gratitude" class="button"/>
  </form>

  <form action="/user/show" method="GET">
    <input type="submit" value="Back" class="button"/>
  </form>

</div>


{{!-- populate 3 random gratitudes --}}
<section class="profile">
  {{#if gratitudes}}
    <ul class="items">
      {{#each gratitudes}}
        <li>
         {{this.text}}
         {{!-- <a href="edit/{{this.id}}" class="edit" method='GET'>Edit</a> --}}
        <form action='' method='GET' class='controls'>
          <input type="submit" value="Edit" class="edit" href="{{this.id}}" />
        </form>
         <form action='' method='DELETE' class="controls">
            <input type="submit" value="Delete" class="edit" href="{{this.id}}" />
          </form>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <h3>No gratitudes yet!</h3>
  {{/if}}
</section>

